name: Release
on:
  push:
    branches:
      - main
      - staging

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.1+sha512.7d7dbbca9e99447b7c3bf7a73286afaaf6be99251eb9498baefa7d406892f67b879adb3a1d7e687fc4ccc1a388c7175fbaae567a26ab44d1067b54fcb0d6a316

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Kompo
        run: pnpm turbo run build

      - name: Remove local .npmrc for OIDC
        if: github.ref == 'refs/heads/main'
        run: rm -f .npmrc

      - name: Create Release Pull Request (Staging) or Publish (Main)
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm release:version
          # Only publish when pushed to main
          publish: ${{ github.ref == 'refs/heads/main' && 'pnpm release:publish' || '' }}
          commit: "chore: version packages"
          title: "Version Packages (Staging)"
          createGithubReleases: ${{ github.ref == 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}