name: Release
on:
  push:
    branches:
      - main
      - staging

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.1

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Kompo
        run: pnpm turbo run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm release:version
          # Only publish on main
          publish: ${{ github.ref == 'refs/heads/main' && 'pnpm release:publish' || '' }}
          commit: "chore: version packages"
          title: "Version Packages (Staging)"
          createGithubReleases: ${{ github.ref == 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
